#photo-comments-component {
  overflow-y: auto;
  word-break: break-world;
  padding: 0 2rem;

  li {
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
}

.single #photo-comments-component {
  padding: 0px;
}